# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
exclude: "vendor|internal/proto"
repos:
  # common
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
  # go
  - repo: https://github.com/golangci/golangci-lint
    rev: v1.53.0
    hooks:
      - id: golangci-lint
        args: [--fix]
