defaults: &defaults
  db_driver: mysql
  db_url: 'root:@(mysql:3306)/{{ $.Name }}?charset=utf8mb4&parseTime=true&loc=UTC&interpolateParams=true'

  redis_host: 'redis:6379'
  redis_password: ''
  redis_db: 0

  cache_backend: 'redis'
  cache_prefix: '{{ $.Name }}'
  cache_host: 'redis:6379'
  cache_password: ''
  cache_db: 0

  seqgen_sequence_base: 0
  seqgen_sequence_key: '{{ $.Name }}:global_id'

  sentry_dsn: ''
  sentry_environment: 'development'

  elastic_apm_service_name: '{{ $.Name }}-rpc-go'
  elastic_apm_service_version: '1'
  elastic_apm_server_url: ''
  elastic_apm_transaction_sample_rate: 0.01
  elastic_apm_enable: false

  grpc_listen_host: 0.0.0.0
  grpc_conn_timeout: 1s

  asynctask_concurrency: 10
  asynctask_broker: "redis://redis:6379/8"
  asynctask_default_queue: "gobay.task"
  asynctask_result_backend: "redis://redis:6379/8"
  asynctask_results_expire_in: 600
  asynctask_redis: {}

development:
  <<: *defaults
testing:
  <<: *defaults
  asynctask_broker: "redis://redis:6379/0"
  asynctask_result_backend: "redis://redis:6379/0"
integration: &integration
  <<: *defaults
  elastic_apm_enable: true
  redis_host: ${REDIS_HOST}
  redis_password: ${REDIS_PASSWORD}
  sentry_dsn: ${SENTRY_DSN}
  sentry_environment: ${SENTRY_ENVIRONMENT}
  cache_host: ${CACHE_HOST}
  cache_password: ${CACHE_PASSWORD}
  db_url: ${DB_URL}
staging: &staging
  <<: *integration
  elastic_apm_enable: false
production:
  <<: *staging
  elastic_apm_enable: true
