module {{ $.Url }}

go 1.18

require (
	entgo.io/ent v0.11.7
	github.com/deepmap/oapi-codegen v1.12.4
)

replace (
	entgo.io/ent => github.com/shanbay/ent v0.5.0
	github.com/RichardKnop/machinery => github.com/shanbay/machinery v1.10.7-0.20210806005400-45afbf2ee694
)

