package cmd

import (
	"github.com/shanbay/gobay"
	"log"
	"github.com/spf13/cobra"

	"{{ $.Url }}/app"
	appgrpc "{{ $.Url }}/app/grpc"
)

func RunGrpcSvc(cmd *cobra.Command, args []string) {
	env, err := cmd.Flags().GetString("env")
	if err != nil {
		log.Fatalf("get env failed: %v\n", err)
	}
	root, err := cmd.Flags().GetString("root")
	if err != nil {
		log.Fatalf("get root failed: %v\n", err)
	}

	bapp, err := gobay.CreateApp(root, env, app.Extensions())
	if err != nil {
		log.Fatalf("app init failed: %v\n", err)
	}
	if err := appgrpc.Serve(bapp); err != nil {
		log.Fatalf("grpc serve failed: %v\n", err)
	}
}

func init() {
	cmd := &cobra.Command{
		Use: "grpcsvc",
		Run: RunGrpcSvc,
	}
	rootCmd.AddCommand(cmd)
}
