package actions

import (
	"github.com/shanbay/gobay"
	"log"
	"github.com/spf13/cobra"

	myapp "{{ $.Url }}/app"
	appoapi "{{ $.Url }}/app/oapi"
)

func RunOapiSvc(cmd *cobra.Command, args []string) {
	env, err := cmd.Flags().GetString("env")
	if err != nil {
		log.Fatalf("get env failed: %v\n", err)
	}
	root, err := cmd.Flags().GetString("root")
	if err != nil {
		log.Fatalf("get root failed: %v\n", err)
	}

	bapp, err := gobay.CreateApp(root, env, myapp.Extensions())
	if err != nil {
		log.Fatalf("app init failed: %v\n", err)
	}
	if err := appoapi.Serve(
		bapp,
		appoapi.PreInitFunc,
		appoapi.PreStartFunc,
		false,
	); err != nil {
		log.Fatalf("openapi serve failed: %v\n", err)
	}
}

func init() {
	cmd := &cobra.Command{
		Use: "oapisvc",
		Run: RunOapiSvc,
	}
	rootCmd.AddCommand(cmd)
}
