package actions

import (
	"fmt"
	"os"

	"log"
	"github.com/spf13/cobra"
)

var rootCmd = &cobra.Command{
	Use: "app",
}

func Execute() {
	if err := rootCmd.Execute(); err != nil {
		fmt.Println(err)
		os.Exit(1)
	}
}

func init() {
	curdir, err := os.Getwd()
	if err != nil {
		log.Fatalf("get work dir failed: %v\n", err)
	}
	rootCmd.PersistentFlags().String("env", os.Getenv("GOBAY_ENV"), "environment. eg: development, production")
	rootCmd.PersistentFlags().String("root", curdir, "Project root path")
}
