package cmd

import (
	"github.com/shanbay/gobay"
	log "github.com/sirupsen/logrus"
	"github.com/spf13/cobra"

	"{{ $.Url }}/app"
	appgrpc "{{ $.Url }}/app/grpc"
)

func RunGrpcSvc(cmd *cobra.Command, args []string) {
	env, err := cmd.Flags().GetString("env")
	if err != nil {
		log.WithError(err).Fatalln("get env failed")
	}
	root, err := cmd.Flags().GetString("root")
	if err != nil {
		log.WithError(err).Fatalln("get root failed")
	}

	bapp, err := gobay.CreateApp(root, env, app.Extensions())
	if err != nil {
		log.Fatalln("app init failed\n", err)
	}
	if err := appgrpc.Serve(bapp); err != nil {
		log.Fatal("grpc serve failed\n", err)
	}
}

func init() {
	cmd := &cobra.Command{
		Use: "grpcsvc",
		Run: RunGrpcSvc,
	}
	rootCmd.AddCommand(cmd)
}
